<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

  <h1>시세 =</h1>
  <h2 class="h2-clock"></h2>

  <script>

    var clock = document.querySelector(".h2-clock");
    function getTime() {
        $.ajax({
           type: "GET",
           url: "/stock",
           success:function(res) {
              if (res) {
                 var jsonData = JSON.parse(res);
                 var message = jsonData.stocklist;
                 clock.innerHTML = message;

              }
           }
        });
    }

    function run_clock() {
        setInterval(getTime, 3000);
    }

    run_clock();

  </script>

</body>
</html>
