<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

  <h3>If you click on the "Hide" button, I will disappear.</h3>
  <button id="hide">Hide</button>
  <button id="show">Show</button>

  <ul>
      {% for title in content %}
      <p>{{ title }}</p>
      {% endfor %}
  </ul>

  <script>

      $("#hide").click(function(){
        $("h3").hide();
      });
      $("#show").click(function(){
        $("h3").show();
      });

  </script>

</body>
</html>
